.carousel {
  width: 96%;
}

.container {
  padding: 20px;
  margin: 0px 20px;
  border-radius: 20px;
  background-color: #ebe6d7;
  height: auto;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.carousel .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.bottom img {
  background-color: #fdaebe;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
  margin-right: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.bottom div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
