/*Components*/
.component {
  width: 100%;
  height: 100%;
}

.componentLittle {
  height: 100%;
  margin-left: 20px;
}

.component, .componentLittle {
  border-radius: 40px;
  cursor: pointer;
  position: relative;
}

.component:hover, .componentLittle:hover {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.12));
}

.component .image img, .componentLittle .image img {
  object-fit: contain;
  width: 100%;
}

/* INICIA General*/
.iconPink {
  background-color: #fdaebe;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 3px;
}

.componentLittle .iconPink {
  width: 25px;
  height: 25px;
}

.bookmark {
  position: absolute;
  z-index: 1;
  top: -4px;
  right: 14px;
}

/*Tiempo y modulos*/
.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom img {
  margin-right: 10px;
}

.bottom div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* TERMINA General*/

.gray h3,
.black h3,
.blue h3 {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.content {
  padding: 0px 15px 15px 15px;
}

.gray .image img, .white .image img {
  padding: 15px;
}

/*INICIA GRAY*/
.gray {
  background-color: #f0f2f4;
}

.gray .image {
  width: 100%;
}
/*TERMINA GRAY*/

/*INICIA WHITE*/
.white {
  background-color: white;
  border: 1px solid #e4e4e4;
}

.white .bottom {
  justify-content: space-between;
}
/*TERMINA WHITE*/

/*INICIA BLACK*/
.black {
  background-color: #222222;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.black .image {
  top: 0;
  left: 0;
  width: 100%;
}

.black .bottom {
  justify-content: flex-end;
}

.black .content p {
  margin: 0;
}
/*TERMINA BLACK*/

/*INICIA BLUE*/
.blue {
  background-color: #0000af;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.blue .imageContainer {
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.blue .imageContainer img {
  width: 100%;
  object-fit: cover;
}

.blue .flower {
  position: absolute;
  bottom: 180px;
  left: 30px;
  width: 80px;
}

.blue .content {
  width: 100%;
}

.blue .bottom {
  justify-content: flex-end;
}
/*TERMINA BLUE*/


/*Little*/
.componentLittle .content{
  font-size: 11px;
}

.componentLittle h3{
  font-size: 14px;
  margin: 0;
  padding: 0;
}


.componentLittle .bookmark {
  width: 40px;
}

.componentLittle.blue .imageContainer {
  height: 100%;
}

.componentLittle.blue .flower {
  position: absolute;
  bottom: 70px;
  left: 10px;
  width: 50px;
}