.content {
  margin-top: 2vw;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title .seeMore {
  color: #004aff;
  display: flex;
  align-items: end;
  font-weight: bold;
  justify-content: center;
  font-size: 17px;
}

.title .seeMore svg {
  margin-left: 5px;
}
