.content {
  margin-left: 18vw;
  margin-right: 1vw;
  padding-top: 90px;
}

.movil{
  margin-left: 11vw;
}
/*Ver mas y titulo del contenido*/
.container {
  margin-top: 2vw;
  margin-bottom: 3vw;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title .seeMore {
  color: #004aff;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  justify-content: center;
  font-size: 17px;
}

.title .seeMore svg {
  margin-left: 5px;
}

.container .carousel {
  display: flex;
  justify-content: center;
}
