.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: absolute;
  z-index: 999;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .options {
  cursor: pointer;
  margin-right: 1vw;
}

.navbar .options svg {
  margin-right: 10px;
}
